version: "3.9"
services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v1.12.0
    container_name: mealie
    environment:
      ALLOW_SIGNUP: "false"
      PUID: 1000
      PGID: 1000
      TZ: Europe/Berlin
      MAX_WORKERS: 1
      WEB_CONCURRENCY: 1
      APP_ENV: production
      BASE_URL: ${BASE_URL:-http://localhost}
      DEBUG: ${DEBUG:-False}
       # Database Settings
      DB_ENGINE: postgres
      POSTGRES_USER: mealie
      POSTGRES_PASSWORD: ${DB_PASS:?database password required}
      POSTGRES_SERVER: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: mealie
      # OIDC Setup
      OIDC_AUTH_ENABLED: true
      OIDC_CONFIGURATION_URL: ${OIDC_CONFIGURATION_URL}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_AUTO_REDIRECT: ${OIDC_AUTO_REDIRECT:-false}
      OIDC_USER_GROUP: ${OIDC_USER_GROUP}
      OIDC_ADMIN_GROUP: ${OIDC_ADMIN_GROUP}
      # OpenAI
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_MODEL: ${OPENAI_MODEL}
    volumes:
      - mealie_data:/app/data
    networks:
      - internal
    restart: always

volumes:
  mealie_data:

networks:
  internal:
    name: internal
    external: true
